/*
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/

.btn-delete {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--color-background-900);
  border: none;
  border-radius: 50%;
  background-color: var(--color-red);
  height: 1.8rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: all 0.3s;

  /* Position */
  position: absolute;
  right: 2.4rem;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}

/* ******* */

.details {
  font-size: 1.4rem;
  line-height: 1.4;
}

.details header {
  display: flex;
}

.details section {
  padding: 4rem;

  /* Display */
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
}

.details-overview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);

  /* Display */
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.details-overview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.plus-sign {
  width: 2rem;
  stroke: currentColor;
  stroke-width: 0.25rem;
}

.seconds {
  font-weight: 600;
  border-radius: 10rem;
  background-color: var(--color-background-100);
  width: 8rem;
  padding: 0.4rem;
  margin-top: 2.4rem;
  text-align: center;
}

.btn-back {
  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-background-500);
  border: none;
  border-radius: 50%;
  background-color: #fff;
  height: 3.2rem;
  aspect-ratio: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 999;
  /* background-color: var(--color-text); */

  /* Position */
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;

  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-svg {
  width: 2.6rem;
  stroke-width: 1.4;
  fill: none;
  stroke: currentColor;
}
