.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);

  /* Display */
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.box {
  width: 45rem;
  max-width: 45rem;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow-y: scroll;
  position: relative;
}

.loader,
.error {
  font-size: 2rem;
  text-align: center;
}

.loader {
  font-weight: 600;
  text-transform: uppercase;
  margin: 4.8rem;
}

.error {
  padding: 4.8rem;
}

/* ******* */

.btn-toggle {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-text);
  border: none;
  background-color: var(--color-background-900);
  height: 2.4rem;
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
  z-index: 999;

  /* Position */
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.list {
  list-style: none;
  padding: 0.8rem 0;
  /* overflow-x: scroll; */
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
  position: relative;

  /* Display */
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: 2.4rem;
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
