.summary {
  border-radius: 0.9rem;
  background-color: var(--color-background-100);
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.summary h2 {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}

.summary div {
  font-size: 1.6rem;
  font-weight: 600;

  /* Display */
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
